<h2>Kontrak Akan Habis</h2>

<form class="filter-panel" [formGroup]="filterForm">
  <mat-form-field appearance="outline">
    <mat-label>Cabang</mat-label>
    <mat-select formControlName="kodeCabang">
      <mat-option value="">Semua</mat-option>
      @for (item of cabang; track item.kodeCabang) {
      <mat-option [value]="item.kodeCabang">{{ item.namaCabang }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Jabatan</mat-label>
    <mat-select formControlName="kodeJabatan">
      <mat-option value="">Semua</mat-option>
      @for (item of jabatan; track item.kodeJabatan) {
      <mat-option [value]="item.kodeJabatan">{{ item.namaJabatan }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Hari Sebelum</mat-label>
    <input matInput type="number" formControlName="hariSebelum" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="button" (click)="loadData()">Filter</button>
</form>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
  <ng-container matColumnDef="kodePegawai">
    <th mat-header-cell *matHeaderCellDef>Kode</th>
    <td mat-cell *matCellDef="let row">{{ row.kodePegawai }}</td>
  </ng-container>

  <ng-container matColumnDef="namaPegawai">
    <th mat-header-cell *matHeaderCellDef>Nama</th>
    <td mat-cell *matCellDef="let row">{{ row.namaPegawai }}</td>
  </ng-container>

  <ng-container matColumnDef="namaCabang">
    <th mat-header-cell *matHeaderCellDef>Cabang</th>
    <td mat-cell *matCellDef="let row">{{ row.namaCabang }}</td>
  </ng-container>

  <ng-container matColumnDef="namaJabatan">
    <th mat-header-cell *matHeaderCellDef>Jabatan</th>
    <td mat-cell *matCellDef="let row">{{ row.namaJabatan }}</td>
  </ng-container>

  <ng-container matColumnDef="tanggalHabisKontrak">
    <th mat-header-cell *matHeaderCellDef>Tanggal Habis</th>
    <td mat-cell *matCellDef="let row">{{ row.tanggalHabisKontrak }}</td>
  </ng-container>

  <ng-container matColumnDef="sisaHari">
    <th mat-header-cell *matHeaderCellDef>Sisa Hari</th>
    <td mat-cell *matCellDef="let row">
      <mat-chip [ngClass]="chipClass(row.sisaHari)">{{ row.sisaHari }}</mat-chip>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
