<h2 mat-dialog-title>{{ data.isEdit ? 'Edit Jabatan' : 'Tambah Jabatan' }}</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Kode Jabatan</mat-label>
      <input matInput formControlName="kodeJabatan" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nama Jabatan</mat-label>
      <input matInput formControlName="namaJabatan" />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Batal</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">Simpan</button>
</mat-dialog-actions>
