<div class="page-header">
  <h2>Data Jabatan</h2>
  <button mat-raised-button color="primary" (click)="add()">Tambah Jabatan</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z2 data-table">
  <ng-container matColumnDef="kodeJabatan">
    <th mat-header-cell *matHeaderCellDef>Kode Jabatan</th>
    <td mat-cell *matCellDef="let row">{{ row.kodeJabatan }}</td>
  </ng-container>

  <ng-container matColumnDef="namaJabatan">
    <th mat-header-cell *matHeaderCellDef>Nama Jabatan</th>
    <td mat-cell *matCellDef="let row">{{ row.namaJabatan }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Aksi</th>
    <td mat-cell *matCellDef="let row" class="action-cell">
      <button mat-button color="primary" (click)="edit(row)">Edit</button>
      <button mat-button color="warn" (click)="remove(row)">Hapus</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="displayedColumns.length">Belum ada data jabatan.</td>
  </tr>
</table>
